<nav class="navbar">

  <a routerLink="/dashboard">
    Dashboard
  </a>

  <a *ngIf="isAdmin() || isOperator()" routerLink="/productos" routerLinkActive="active">

    Productos

  </a>

  <a *ngIf="isAdmin() || isOperator()" routerLink="/categorias" routerLinkActive="active">

    Categorías

  </a>

  <a *ngIf="isAdmin() || isOperator() || isDelivery()" routerLink="/movimientos" routerLinkActive="active">

    Movimientos

  </a>

  <a *ngIf="isAdmin() || isOperator()" routerLink="/pedidos" routerLinkActive="active">

    Pedidos

  </a>

  <a *ngIf="isAdmin() || isDelivery()" routerLink="/clientes" routerLinkActive="active">

    Clientes

  </a>

  <a *ngIf="role === 'ROLE_ADMIN'" routerLink="/usuarios" routerLinkActive="active">

    Usuarios

  </a>

  <button (click)="logout()">
    Cerrar Sesión
  </button>

</nav>