--
-- PostgreSQL database dump
--

\restrict RdCWS6kpBOZiKv5PWCzBox6J8L3XbVc1pmVkyJ2IoHlTge6umRjDhEY7TygFp6P

-- Dumped from database version 17.10 (Debian 17.10-1.pgdg13+1)
-- Dumped by pg_dump version 17.10 (Debian 17.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    description character varying(255)
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.categories ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.categories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: clients; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clients (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    phone character varying(255),
    email character varying(255),
    address character varying(255)
);


ALTER TABLE public.clients OWNER TO postgres;

--
-- Name: clients_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.clients ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.clients_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: deliveries; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.deliveries (
    id bigint NOT NULL,
    delivery_date timestamp without time zone,
    final_status character varying(255),
    observation character varying(255),
    dispatch_id bigint NOT NULL
);


ALTER TABLE public.deliveries OWNER TO postgres;

--
-- Name: deliveries_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.deliveries ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.deliveries_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: dispatches; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dispatches (
    id bigint NOT NULL,
    dispatch_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    status character varying(255) NOT NULL,
    delivery_address character varying(255) NOT NULL,
    delivery_user_id bigint NOT NULL,
    operator_user_id bigint NOT NULL,
    order_id bigint NOT NULL
);


ALTER TABLE public.dispatches OWNER TO postgres;

--
-- Name: dispatches_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.dispatches ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.dispatches_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_movements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_movements (
    id bigint NOT NULL,
    type character varying(255) NOT NULL,
    quantity integer NOT NULL,
    status character varying(255),
    movement_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    product_id bigint NOT NULL,
    client_id bigint
);


ALTER TABLE public.inventory_movements OWNER TO postgres;

--
-- Name: inventory_movements_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.inventory_movements ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_movements_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: order_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_details (
    id bigint NOT NULL,
    order_id bigint NOT NULL,
    product_id bigint NOT NULL,
    quantity integer NOT NULL,
    unit_price double precision NOT NULL
);


ALTER TABLE public.order_details OWNER TO postgres;

--
-- Name: order_details_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.order_details ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.order_details_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders (
    id bigint NOT NULL,
    order_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    status character varying(255) NOT NULL,
    observation character varying(255),
    client_id bigint NOT NULL
);


ALTER TABLE public.orders OWNER TO postgres;

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orders ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    description character varying(255),
    stock integer DEFAULT 0 NOT NULL,
    price double precision NOT NULL,
    category_id bigint NOT NULL
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    username character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(255) NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categories (id, name, description) FROM stdin;
1	Dummy	test
2	Perif├®ricos	Mouse, teclados y accesorios
3	Computadores	PCs y notebooks
4	Redes	Equipos de conectividad
5	Monitores	Pantallas y monitores
6	Almacenamiento	Discos y memorias
\.


--
-- Data for Name: clients; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.clients (id, name, phone, email, address) FROM stdin;
1	Juan Carlos Bodoque	+569845231	NotaVerde@TormentaChina.cl	Estudio 31 Minutos
2	Juan Perez	+56911111111	[juan@email.cl](mailto:juan@email.cl)	Av. Providencia 100
3	Pedro Soto	+56922222222	[pedro@email.cl](mailto:pedro@email.cl)	Av. Apoquindo 500
4	Maria Gonzalez	+56933333333	[maria@email.cl](mailto:maria@email.cl)	Av. Libertador 250
5	Ana Rojas	+56944444444	[ana@email.cl](mailto:ana@email.cl)	Av. O Higgins 1000
6	Carlos Diaz	+56955555555	[carlos@email.cl](mailto:carlos@email.cl)	Av. Matta 300
\.


--
-- Data for Name: deliveries; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.deliveries (id, delivery_date, final_status, observation, dispatch_id) FROM stdin;
1	2026-07-06 00:27:45.664036	DELIVERED	Recepci├│n conforme	3
2	2026-07-06 00:27:45.664036	DELIVERED	Sin observaciones	4
\.


--
-- Data for Name: dispatches; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.dispatches (id, dispatch_date, status, delivery_address, delivery_user_id, operator_user_id, order_id) FROM stdin;
1	2026-07-06 00:27:45.661824	PENDING	Av. Providencia 100	3	2	1
2	2026-07-06 00:27:45.661824	IN_ROUTE	Av. Apoquindo 500	3	2	2
3	2026-07-06 00:27:45.661824	DELIVERED	Av. Libertador 250	3	2	3
4	2026-07-06 00:27:45.661824	DELIVERED	Av. O Higgins 1000	3	2	4
\.


--
-- Data for Name: inventory_movements; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inventory_movements (id, type, quantity, status, movement_date, product_id, client_id) FROM stdin;
1	ENTRY	50	APPROVED	2026-07-06 00:27:45.659917	1	\N
2	ENTRY	30	APPROVED	2026-07-06 00:27:45.659917	2	\N
3	ENTRY	15	APPROVED	2026-07-06 00:27:45.659917	3	\N
4	ENTRY	25	APPROVED	2026-07-06 00:27:45.659917	4	\N
5	ENTRY	20	APPROVED	2026-07-06 00:27:45.659917	5	\N
6	EXIT	2	DELIVERED	2026-07-06 00:27:45.659917	1	\N
7	EXIT	1	PENDING	2026-07-06 00:27:45.659917	3	\N
8	EXIT	1	CANCELLED	2026-07-06 00:27:45.659917	6	\N
\.


--
-- Data for Name: order_details; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.order_details (id, order_id, product_id, quantity, unit_price) FROM stdin;
1	1	1	2	19990
2	1	2	1	45990
3	2	3	1	899990
4	3	4	3	34990
5	3	8	1	69990
6	4	5	2	149990
7	5	6	1	79990
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.orders (id, order_date, status, observation, client_id) FROM stdin;
1	2026-07-06 00:27:45.602161	PENDING		1
2	2026-07-06 00:27:45.602161	PENDING		2
3	2026-07-06 00:27:45.602161	APPROVED	Pedido aprobado	3
4	2026-07-06 00:27:45.602161	DELIVERED	Entregado correctamente	4
5	2026-07-06 00:27:45.602161	CANCELLED	Direcci├│n no v├ílida	5
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products (id, name, description, stock, price, category_id) FROM stdin;
1	Dummy	test	100	100	1
2	Mouse Logitech G203	Mouse gamer RGB	50	19990	1
3	Teclado Redragon K552	Teclado mec├ínico	30	45990	1
4	Notebook ASUS TUF F15	Notebook gaming	15	899990	2
5	Switch TP-Link 8 Puertos	Switch Gigabit	25	34990	3
6	Monitor LG 24 IPS	Monitor IPS Full HD	20	149990	4
7	SSD Kingston 1TB	SSD NVMe	40	79990	5
8	Memoria USB Kingston 64GB	USB 3.2	100	9990	5
9	Router TP-Link AX1800	Router WiFi 6	18	69990	3
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, username, password, role) FROM stdin;
1	admin	$2a$10$8w2E7M6i5qJYvJ5vUjQ4lOlv0y6Q1Jf5m8IuG6k8zYt9vV1n5cY2K	ROLE_ADMIN
2	test123	$2a$10$9puPgFc/iY0MxmGmEnsLKex1nYW1IrVHRaCAMs96YXs0yGtoac43.	ROLE_ADMIN
3	usuario2	$2a$10$WWpRrDEq0rGe9smDWQ3mDuSpmpVftxgr8vycXNpqsILnrJv.I.PsW	ROLE_OPERATOR
4	usuario3	$2a$10$6f4XBvTeMWkefYXeUsaQpuZZAkE2RG4df1iZ4jpponjkrS0EicwmW	ROLE_DELIVERY
\.


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.categories_id_seq', 6, true);


--
-- Name: clients_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.clients_id_seq', 6, true);


--
-- Name: deliveries_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.deliveries_id_seq', 2, true);


--
-- Name: dispatches_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dispatches_id_seq', 4, true);


--
-- Name: inventory_movements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventory_movements_id_seq', 8, true);


--
-- Name: order_details_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.order_details_id_seq', 7, true);


--
-- Name: orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_id_seq', 5, true);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_id_seq', 9, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 4, true);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: clients clients_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_pkey PRIMARY KEY (id);


--
-- Name: deliveries deliveries_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deliveries
    ADD CONSTRAINT deliveries_pkey PRIMARY KEY (id);


--
-- Name: dispatches dispatches_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dispatches
    ADD CONSTRAINT dispatches_pkey PRIMARY KEY (id);


--
-- Name: inventory_movements inventory_movements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_movements
    ADD CONSTRAINT inventory_movements_pkey PRIMARY KEY (id);


--
-- Name: order_details order_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_details
    ADD CONSTRAINT order_details_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: deliveries uk_delivery_dispatch; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deliveries
    ADD CONSTRAINT uk_delivery_dispatch UNIQUE (dispatch_id);


--
-- Name: dispatches uk_dispatch_order; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dispatches
    ADD CONSTRAINT uk_dispatch_order UNIQUE (order_id);


--
-- Name: users uk_users_username; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uk_users_username UNIQUE (username);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: deliveries fk_delivery_dispatch; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deliveries
    ADD CONSTRAINT fk_delivery_dispatch FOREIGN KEY (dispatch_id) REFERENCES public.dispatches(id);


--
-- Name: dispatches fk_dispatch_order; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dispatches
    ADD CONSTRAINT fk_dispatch_order FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: inventory_movements fk_inventory_movements_client; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_movements
    ADD CONSTRAINT fk_inventory_movements_client FOREIGN KEY (client_id) REFERENCES public.clients(id);


--
-- Name: inventory_movements fk_movements_product; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_movements
    ADD CONSTRAINT fk_movements_product FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: order_details fk_order_details_order; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_details
    ADD CONSTRAINT fk_order_details_order FOREIGN KEY (order_id) REFERENCES public.orders(id) ON DELETE CASCADE;


--
-- Name: order_details fk_order_details_product; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_details
    ADD CONSTRAINT fk_order_details_product FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: orders fk_orders_client; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fk_orders_client FOREIGN KEY (client_id) REFERENCES public.clients(id);


--
-- Name: products fk_products_category; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT fk_products_category FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- PostgreSQL database dump complete
--

\unrestrict RdCWS6kpBOZiKv5PWCzBox6J8L3XbVc1pmVkyJ2IoHlTge6umRjDhEY7TygFp6P

